<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="../static/favicon_bangla_digit_classifier_project.png"
    />
    <title>Bangla Digit Classifier</title>
  </head>
  <body>
    <div class="container text-center">
      <h1>Bangla Digit Classification</h1>
    </div>

    <canvas id="canvas"> Draw Here </canvas>

    <div class="button_container">
      <button onmousedown="clearcanvas1()" class="button button-clear">
        Clear
      </button>
      <button onmousedown="ajReq()" class="button button-clear">Predict</button>
    </div>

    <div class="predictionContainer">
      <label> Predicted Value : </label>

      <input input type="text" id="inputField" />
    </div>

    <div class="tutvid">
      <button
        type="button"
        class="button button-clear"
        data-bs-toggle="modal"
        data-bs-target="#TutorialVideo"
      >
        Demostration Video
      </button>
    </div>

    <div
      class="modal fade"
      id="TutorialVideo"
      tabindex="-1"
      role="dialog"
      aria-labelledby="TutorialVideoTitle"
      aria-hidden="true"
    >
      <din class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <video width="100%" controls autoplay loop muted>
              <source src="../static/Demonstration.webm" type="video/webm" />
            </video>
          </div>
        </div>
      </din>
    </div>

    <script src="../static/canvas.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
